@page "/"
@namespace ReporteriaClaro.Clients.BlazorServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reportería Claro</title>
    <base href="~/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css?v=5.1.5" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ha ocurrido un error. La aplicación puede que ya no responda hasta que sea recargada.
        </environment>
        <environment include="Development">
            Ha ocurrido una excepción no controlada. Consulte las herramientas de desarrollador del navegador para detalles.
        </environment>
        <a href="" class="reload">Recargar</a>
        <a class="dismiss">🗙</a>
    </div>
    
    <div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
        <div class="show">
            <p>
                No se pudo establecer la conexión con el servidor. Intente <a href="javascript:ReloadPage();">recargar</a> la página.
            </p>
        </div>
        <div class="failed">
            <p>
                Ocurrió una error al intentar reconectarse al servidor. Intente <a href="javascript:ReconnectToServer();">recargar</a> la página.
            </p>
        </div>
        <div class="rejected">
            <p>
                La conexión fue rechazada. Intente <a href="javascript:ReloadPage();">recargar</a> la página.
            </p>
        </div>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js?v=5.1.5"></script>
    <script type="application/javascript" src="https://api.ipify.org?format=jsonp&callback=getIP"></script>
    <script>
        function ReloadPage() {
            location.reload();
        }
        function ReconnectToServer() {
            window.Blazor.reconnect();
        }
    </script>
    <script>
        window.clipboardCopy = {
            copyText: function(text) {
                navigator.clipboard.writeText(text).then(function () {
                        alert("Se ha copiado al portapapeles.");
                    })
                    .catch(function (error) {
                        alert(error);
                    });
            }
        }
    </script>
    <script>
        window.getIpAddress = () => {
            return fetch('https://api.ipify.org?format=json')
                .then((response) => response.text())
                .then((data) => {
                    return data;
                })
                .catch(() => {
                    return "Desconocido";
                });
        }
    </script>
</body>
</html>
