@layout MainLayout
@inherits LayoutComponentBase
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div>
        <img src="image/LogoLogytechMobile.png" alt="Logytech Mobile" class="login-imagen"/>
        <br />
        <img src="image/LogoMovistar.png" alt="Movistar" class="login-imagen" />
    </div>
    <div style="margin: 20px;">
        @Body
    </div>
</div>