<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>
    <ProcesoNavMenu />
    <MantenimientoNavMenu />
    <SeguridadNavMenu />
</MudNavMenu>
<div class="docs-nav-filler"></div>